version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant:v1.16.1
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./data/qdrant_storage:/qdrant/storage
    restart: unless-stopped
