version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant:v1.16.1
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./data/qdrant_storage:/qdrant/storage
    restart: unless-stopped

  clamav:
    image: clamav/clamav:latest
    container_name: docuagent_clamav
    ports:
      - "3310:3310"
    healthcheck:
      test: ["CMD", "clamdscan", "--ping"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
